$primary-color: rgb(32, 35, 65);
$secondary-color: rgb(0, 0, 0);
$tertiary-color: rgb(121, 50, 128);
$background-opacity: 0.9;




* {
  box-sizing: border-box;
}

body {
  background-color: rgb(252, 247, 247);
  color: black;
  line-height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;

}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
}

p {
  margin: 0;
  padding: .5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
}

li {
  list-style: none;
}

a {
  color: $secondary-color;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 400;
}
