
// Colors //
$primary-color: rgb(32, 35, 65);
$secondary-color: rgb(0, 0, 0);
$tertiary-color: rgb(121, 50, 128);
$background-opacity: 0.9;

// Add ins //
@mixin easeOut() {
  transition: all .2s ease-out;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hide {
  display: none;
}

.hidePlus {
  display: none; 
}

.hideB {
  display: none; 
}

.show {
  display: block;
}

// Global //



* {
  box-sizing: border-box; 
}

body {
  background-color: white;
  color: black;
  line-height: 100%;
  margin: 0;
  font-family: 'Raleway';
  // font-family: 'Julius Sans One', sans-serif;
  font-weight: 500;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: black;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: black;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: black;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.3rem;
  color: black;
}

p {
  margin: 0;
  padding: 0rem;
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Questrial', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: $secondary-color;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
}

.bwButton {
  border: 1px solid black;
  border-radius: 2px;
  padding: .3rem;
  font-size: 1rem;
  

  &:hover {
    background-color: rgb(248, 186, 145);
    @include easeOut();
    cursor: pointer;
  }
}

// Classes
@mixin headingImg($image) {
  height: 450px;
  background-image: url('#{$image}');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: rgba($color: black, $alpha: .6);
    height: 100%;
    width: 100%;
  }
}

@mixin landingContainer() {
  .landing-container {
    // border: 2px solid red;
    height: 250px;
    width: 400px;
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 1; 

    .landing {
      h1 {
        color: white;
        margin-bottom: 1rem;
      }

      h2 {
        color: white;
      }
    }
    .top {
      padding-bottom: 1rem;
    }
    .bottom {
      padding-bottom: 1.5rem;
    }

    // Media queries for landing

    @media screen and (max-width: 992px) {
      .landing {
        h1 {
          font-size: 2.3rem;
          margin-bottom: .5rem;
        }

        h2 {
          font-size: 1.3rem;
        }
      }
    } 

    @media screen and (max-width: 768px) {
      // border: 2px solid red;
      width: 350px;

      .landing {
        h1 {
          font-size: 2.1rem;
        }

        h2 {
          font-size: 1.2rem;
        }
      }
    } 

    @media screen and (max-width: 576px) {
      // border: 2px solid red;
      right: 15%;
      width: 300px;

      .landing {
        h1 {
          font-size: 1.9rem;
        }

        h2 {
          font-size: 1.1rem;
        }
      }
    } 

    @media screen and (max-width: 460px) {
      right: 15%;
      width: 275px;

      .landing {
        h1 {
          font-size: 1.7rem;
        }

        h2 {
          font-size: 1rem;
        }
      }
    } 

    @media screen and (max-width: 414px) {
      right: 15%;
      width: 250px;

      .landing {
        h1 {
          color: white;
          font-size: 1.5rem;
        }

        h2 {
          font-size: .95rem;
        }
      }
    }

  }
}
