// Navigation //
.navbar {
    // border: 5px solid purple;
    width: 100%;
    height: 230px;
    background-color: white;
    display: flex;

    @media screen and (max-width: 768px) {
      height: 220px;
    }
  
    .nav-wrapper {
      // border: 2px solid red;
      width: 1200px;
      margin: 1rem auto 0;
      display: block;
  
      .nav-title {
        // border: 2px solid blue;
        background-image: url(../img/logo2.jpg);
        background-size: cover;
        width: 375px;
        height: 160px;
        margin: auto;
        margin-bottom: 1rem;

        @media screen and (max-width: 768px) {
          width: 350px;
          height: 145px;
        }

        @media screen and (max-width: 576px) {
          width: 325px;
          height: 135px;
        }

        @media screen and (max-width: 414px) {
          width: 325px;
          height: 135px;
        }
      }

      // sm devices nav drop down menu
      @media screen and (max-width: 576px) {

        .nav-drop-down {
          display: block;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
          color: black;
          text-align: center;
          margin: auto;
          padding: .2rem 0;
          cursor: pointer;
          width: 400px;
   
          &:hover {
  
            i {
              transform: translate(0px, 3px);
              color: rgb(248, 186, 145);
              @include easeOut();
            }
          }
        }
      }

      @media screen and (max-width: 460px) {
        .nav-drop-down {
          // border width
          width: 320px;
        }
      }
    
      .nav-links {
        // border: 2px solid blue;
        margin: auto;
    
        ul {
          // border: 2px solid orange;
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .nav-li {
            // border: 1px solid green;
            &:hover .dropdown-container {
              display: block;
            }
  
            .nav-item {
              // border: 2px solid green;
              padding: .4rem 2rem;
              font-size: 1.5rem;
              border-radius: 2px;
              display: block;
  
              &:hover {
                cursor: pointer;
                background-color: lighten(rgb(248, 186, 145), 5);
                @include easeOut();
              }

              @media screen and (max-width: 992px) {
                padding: .4rem 1.5rem;
              }

              @media screen and (max-width: 768px) {
                padding: .6rem 1rem;
                font-size: 1.3rem;
              }
            }
  
            .dropdown-container {
              // border: 2px solid red;
              width: fit-content;
              margin-right: auto;
              border-radius: 10px;
              display: none;
  
              ul {
                display: flex;
                flex-direction: column;
  
                // dropdown items for nav links m+ devices
                .dropdown {
                  // border: 2px solid blue;
                  background-color: lighten(rgb(248, 186, 145), 20);
                  padding: .5rem 2rem .5rem 2rem;
                  font-size: 1.2rem;
                  color: black;
                  z-index: 1;
  
                  &:last-child {
                    border-radius: 0 0 2px 2px;
                  }
  
                  &:hover {
                    background-color: lighten(rgb(248, 186, 145), 10);
                    cursor: pointer;
                    @include easeOut();
                  }
                }              
              }
            }          
          }
        }

        // nav links for sm devices display with js
        @media screen and (max-width: 576px) {
          display: none;
          background-color: white;
          padding: .5rem;

          ul {
            flex-direction: column;

            .nav-li {
              text-align: center;
              z-index: 5; 
            }
          }
        }
      }
    }
  
    .toggle-button {
      // border: 2px solid chartreuse;
      display: none;

      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 40px;
      height: 30px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 414px) {
        top: .5rem;
        right: .5rem;
      }
  
      .bar {
        display: none;
        height: 2px;
        width: 25px;
        background-color: black;
        border-radius: 1px;
        margin: 2px;
        padding: 0;
      }
    }
  } 