// Navigation //
.navbar {
    // border: 5px solid purple;
    width: 100%;
    height: 240px;
    background-color: white;
    display: flex;

    @media screen and (max-width: 568px) {
      height: 230px;
    }

    @media screen and (max-width: 414px) {
      height: 220px;
    }
  
    .nav-wrapper {
      // border: 2px solid red;
      width: 1200px;
      margin: 1rem auto 0;

      .nav-title {
        // border: 2px solid green;
        text-align: center;
        margin-bottom: .5rem;

        a {
          // border: 2px solid blue;

          img {
            // border: 2px solid cyan;
            width: auto; 
            height: 170px;

            @media screen and (max-width: 568px) {
              height: 150px;
            }

            @media screen and (max-width: 414px) {
              height: 140px;
            }

            @media screen and (max-width: 360px) {
              height: 130px;
            }

          }
        }
      }
    
      .nav-links {
        // border: 2px solid blue;
        margin: auto;
    
        ul {
          // border: 2px solid orange;
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .nav-li {
            // border: 1px solid green;
            &:hover .dropdown-container {
              display: block;
            }
  
            .nav-item {
              // border: 2px solid green;
              padding: .75rem 2rem;
              font-size: 1.5rem;
              border-radius: 2px;
              display: block;
  
              &:hover {
                cursor: pointer;
                background-color: lighten(rgb(248, 186, 145), 5);
                @include easeOut();
              }

              @media screen and (max-width: 992px) {
                padding: .75rem 1.5rem;
                font-size: 1.4rem;
              }

              @media screen and (max-width: 768px) {
                padding: .75rem 1rem; 
                font-size: 1.3rem;
              }
            }
  
            // If drop downs exist for menu
            // .dropdown-container {
            //   // border: 2px solid red;
            //   width: fit-content;
            //   margin-right: auto;
            //   border-radius: 10px;
            //   display: none;
  
            //   ul {
            //     display: flex;
            //     flex-direction: column;
  
            //     // dropdown items for nav links m+ devices
            //     .dropdown {
            //       // border: 2px solid blue;
            //       background-color: lighten(rgb(248, 186, 145), 20);
            //       padding: .5rem 2rem .5rem 2rem;
            //       font-size: 1.2rem;
            //       color: black;
            //       z-index: 1;
  
            //       &:last-child {
            //         border-radius: 0 0 2px 2px;
            //       }
  
            //       &:hover {
            //         background-color: lighten(rgb(248, 186, 145), 10);
            //         cursor: pointer;
            //         @include easeOut();
            //       }
            //     }              
            //   }
            // }          
          }
        }

        // nav links for sm devices display with js
        @media screen and (max-width: 576px) {
          display: none;
          background-color: white;
          padding: .5rem;

          ul {
            flex-direction: column;

            .nav-li {
              text-align: center;
              z-index: 5; 
            }
          }
        }
      }

      // sm devices nav drop down menu
      @media screen and (max-width: 576px) {

        .nav-drop-down {
          display: block;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;
          color: black;
          text-align: center;
          margin: auto;
          padding: .2rem 0;
          cursor: pointer;
          width: 350px;
    
          &:hover {
  
            i {
              transform: translate(0px, 3px);
              color: rgb(248, 186, 145);
              @include easeOut();
            }
          }
        }
      }

      @media screen and (max-width: 460px) {
        .nav-drop-down {
          width: 320px;
        }
      }

      @media screen and (max-width: 414px) {
        .nav-drop-down {
          width: 280px;
        }
      }
    }
  } 