// Navigation //
.navbar {
    // border: 2px solid red;
    width: 100%;
    height: 225px;
    background-color: white;
    display: flex;

    @media screen and (max-width: 576px) {
      display: none;
    }
  
    .nav-wrapper {
      // border: 2px solid pink;
      width: 1200px;
      margin: 1rem auto 0;
      // margin: 1rem auto;
      display: block;
  
      .nav-title {
        // border: 2px solid red;
        background-image: url(../img/logo2.jpg);
        background-size: cover;
        width: 375px;
        height: 160px;
        margin: auto;
        margin-bottom: 1rem;

        @media screen and (max-width: 768px) {
          width: 350px;
          height: 140px;
        }
      }
    
      .nav-links {
        // border: 2px solid blue;
        margin: auto;
    
        ul {
          // border: 2px solid orange;
          display: flex;
          flex-direction: row;
          justify-content: center;
          
          .nav-li {
            // border: 1px solid green;
            &:hover .dropdown-container {
              display: block;
            }
  
            .nav-item {
              // border: 2px solid green;
              padding: .4rem 2rem;

              @media screen and (max-width: 992px) {
                padding: .1rem 1.5rem;
              }

              @media screen and (max-width: 768px) {
                padding: 1rem 1rem;
                font-size: 1.3rem;
              }

              font-size: 1.5rem;
              border-radius: 2px;
              display: block;
  
              &:hover {
                cursor: pointer;
                background-color: lighten(rgb(248, 186, 145), 5);
                @include easeOut();
              }
            }
  
            .dropdown-container {
              // border: 2px solid red;
              width: fit-content;
              margin-right: auto;
              border-radius: 10px;
              display: none;
  
              ul {
                display: flex;
                flex-direction: column;
  
                .dropdown {
                  // border: 2px solid blue;
                  background-color: lighten(rgb(248, 186, 145), 20);
                  padding: .5rem 2rem .5rem 2rem;
                  font-size: 1.2rem;
                  color: black;
                  z-index: 1;
  
                  &:last-child {
                    border-radius: 0 0 2px 2px;
                  }
  
                  &:hover {
                    background-color: lighten(rgb(248, 186, 145), 10);
                    cursor: pointer;
                    @include easeOut();
                  }
                }              
              }
  
  
            }          
          }
        }
      }
    }
  
    .toggle-button {
      // border: 2px solid chartreuse;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 40px;
      height: 30px;
      display: flex;
      flex-direction: column;
  
      .bar {
        height: 3px;
        width: 30px;
        background-color: black;
        border-radius: 1px;
        margin: 2px;
        padding: 0;
      }
    }
  } 