
// ***Info/Treatment Page*** //

.info {
  // border: 2px solid red;
  h4{
    color: white;
  }
  // height: 600px;
  // @include headingImg('../img/brush.jpg');
  // @include landingContainer();
}

.info-section {
  // border: 2px solid red;
  padding: 3rem;

  @media screen and (max-width: 992px) {
    padding: 2rem 1rem;
  }

  @media screen and (max-width: 576px) {
    padding: .5rem;
  }

    .info-container {
      border: 2px solid lighten(rgb(248, 186, 145), 5);
      width: 1200px;
      height: 100%;
      margin: auto;
      padding: 3rem;
      background-color: lighten(rgb(248, 186, 145), 22);

      .info-wrapper {
        // border: 2px solid green;

        .info-title {
          text-decoration: underline;
          margin-bottom: 3rem;

        }

        .info-procedure-items {
          // border: 2px solid purple;
          margin-bottom: 1.5rem;
          padding: 2rem;

          .info-item-heading {
            // border: 2px solid red;
            cursor: pointer;
            padding: .5rem 0;
            display: inline-block;
            position: relative;

            .faq-wrapper {
              position: absolute;
              left: -40px;
              cursor: pointer;
              // border: 2px solid red;

              .faq-plus {
                // border: 2px solid green;
                position: absolute;
                padding: .2rem .6rem;
              }
  
              .faq-minus {
                // border: 2px solid blue;
                position: absolute;
                padding: .2rem .6rem;
              }
            }

          }

          h2 {
            // border: 2px solid green;
            font-weight: 600;
            margin-bottom: .3rem;
            // font-family: 'Julius Sans One', sans-serif;
          }

          h3 {
            // border: 2px solid red;;
            font-weight: 600;
            margin-bottom: .3rem;
          }


          #info-ul li {
            margin-left: 1.5rem;
            list-style-type: circle;
          }

          p {
            margin-bottom: .2rem;
            font-weight: 100;
          }

        }
      }

      @media screen and (max-width: 1400px) {
        width: 1000px;
      }

      @media screen and (max-width: 1200px) {
        width: 850px;

        .info-wrapper {
  
          .info-title {

            h1 {
              font-size: 2.3rem;
            }
          }
  
          .info-procedure-items {
            padding: .5rem;
  
            h2 {
              font-size: 1.3rem;
            }

            p {
              font-size: .95rem;
            }
          }
        }
      }

      @media screen and (max-width: 992px) {
        width: 700px;
        padding: 2rem;

        .info-wrapper {
  
          .info-title {

            h1 {
              font-size: 2.1rem;
            }
          }
  
          .info-procedure-items {

            h2 {
              font-size: 1.3rem;
            }

            p {
              font-size: .9rem;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        width: 500px;

        .info-wrapper {
  
          .info-title {

            h1 {
              font-size: 2rem;
            }
          }
  
          .info-procedure-items {

            h2 {
              font-size: 1.2rem;
            }
          }
        }
      }

      @media screen and (max-width: 576px) {
        width: 350px;
        padding: .5rem;
        border: none;

        .info-wrapper {
  
          .info-title {
            margin-bottom: .5rem;

            h1 {
              font-size: 1.1rem;
            }
          }
  
          .info-procedure-items {

            .info-item-heading {
              cursor: default;
            }

            h2 {
              font-size: 1rem;
            }

            p {
              font-size: .8rem;
            }

            .info-item-heading {
  
              .faq-wrapper {
                display: none;
              }
  
            }
          }
        }
      }
    }
}


// ***Services Page*** //

.services-section {
  // border: 2px solid red;
  padding: 2rem;
  // background-color: lighten(rgb(248, 186, 145), 15);
  // color: white;

  .services-container {
    // border: 2px solid green;
    margin: auto;
    width: 1200px;
  
    .services-items {
      // border: 2px solid blue;
      height: 400px;
      margin-bottom: 2rem;
      padding: 2rem; 
      display: flex;
      align-items: center;
  
      .services-item-img img {
        // border: 2px solid red;
        height: 300px;
        width: 350px;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin-right: 2rem;
      }

      h2 {
        font-weight: 600;
      }
    }
  }
}


// ***About Page*** //

.landing-section-about {
  height: 600px;
  @include headingImg('../img/about.jpg');
  @include landingContainer();
}

.about-section {
  // border: 2px solid green;

  .about-container {
    // border: 2px solid red;
    width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;


    .about-img {
      // border: 2px solid blue;
      margin-right: 2rem;

      img {
        height: 200px;
        width: 200px;

      }
    }
  }
}


// ***Contact Page*** //

.landing-section-contact {
  height: 600px;
  @include headingImg('../img/brush.jpg');
  @include landingContainer();
}

.contact-section {
  // border: 2px solid pink;
  margin: auto;
  height: 1300px; 
  width: 1200px;


  .contact-container {
    // border: 2px solid red;
    height: 800px;
    text-align: center;

    .contact-me {
      // border: 2px solid blue;
      padding: 1rem;
      margin-bottom: 2rem;
      h1 {
        margin-bottom: 1rem;
      }
    }

    .contact-boxes {
      // border: 2px solid green;
      height: 120px;
      margin-bottom: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .box-item {
        .contact-icons {
          // border: 2px solid red;
          height: 50px;
          padding: .5rem;
        }

        .contact-info {
          // border: 2px solid blue;
          height: auto;
          padding-top: .5rem;
        }
      }

      .box-line {
        border-right: 1px solid black;
      }
    }

    .contact-form {
      // border: 2px solid orange;
      height: 500px;
      width: 700px;
      text-align: left;
      margin: auto;

      .forms {
        // border: 2px solid red;
        padding-bottom: 1rem;
        // margin-bottom: .5em;

        .form-top {
          padding: .25rem;
          margin-top: .5rem;
          height: 30px;
          width: 100%
        }
        .form-bottom {
          padding: .25rem;
          
          height: 100px;
          width: 100%
        }

      }
    }
  }
  
  #map-section {
    // border: 2px solid blue;
    // height: 450px;
    // width: 600px;
    // margin: auto;
  
    #map {
      // height: 500px;
      width: 50%;
      margin: auto;
    }
  }
}