
// ***Info/Treatment Page*** //
.info {
  // border: 2px solid red;
  h4{
    color: white;
  }
  // height: 600px;
  // @include headingImg('../img/brush.jpg');
  // @include landingContainer();
}

.info-section {
  // border: 2px solid red;
  height: 1550px;
  padding: 3rem;

    .info-wrapper {
      border: 2px solid lighten(rgb(248, 186, 145), 5);
      width: 1200px;
      height: 100%;
      margin: auto;
      padding: 2rem;

      .info-containers {
        // border: 2px solid red;
        // margin: 1rem;

        .info-procedure-items {
          border: 2px solid purple;
          margin-bottom: 1.5rem;
          padding: 2rem;
          position: relative;

          &::before {
            content: '';
            width: 20px;
            height: 20px;
            background: black;
            position: absolute;
            left: 15px;
            top: 30%;
            transform: translate(-50%, 50%);
            z-index: 1;
          }

          .info-item-heading {
            border: 2px solid red;
          }

          .info-item-body {
            border: 2px solid green;
            display: none;
          }

          h2 {
            // border: 2px solid green;
            font-weight: 600;
            margin-bottom: .3rem;
            // color: white;
          }

          h3 {
            // border: 2px solid red;;
            font-weight: 600;
            margin-bottom: .3rem;
          }


          #info-ul li {
            // border: 2px solid brown;
            margin-left: 1.5rem;
            list-style-type: circle;
          }

          p {
            // border: 2px solid orange;
            margin-bottom: .2rem;
            font-weight: 100;
          }

        }
      }
    }
}


// ***Services Page*** //
.services-section {
  // border: 2px solid red;
  // background-color: lighten(rgb(248, 186, 145), 15);
  // color: white;
  margin: auto;
  width: 1200px;
  height: 1000px;

  .services-items {
    // border: 2px solid blue;
    height: 150px;
    margin-bottom: 2rem;
    padding: 1rem;

    h2 {
      font-weight: 600;
    }
  }
}


// ***About Page*** //

.landing-section-about {
  height: 600px;
  @include headingImg('../img/about.jpg');
  @include landingContainer();
}


// ***Contact Page*** //
.landing-section-contact {
  height: 600px;
  @include headingImg('../img/brush.jpg');
  @include landingContainer();
}

.contact-section {
  // border: 2px solid pink;
  margin: auto;
  height: 1300px; 
  width: 1200px;


  .contact-container {
    // border: 2px solid red;
    height: 800px;
    text-align: center;

    .contact-me {
      // border: 2px solid blue;
      padding: 1rem;
      margin-bottom: 2rem;
      h1 {
        margin-bottom: 1rem;
      }
    }

    .contact-boxes {
      // border: 2px solid green;
      height: 120px;
      margin-bottom: 3rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .box-item {
        .contact-icons {
          // border: 2px solid red;
          height: 50px;
          padding: .5rem;
        }

        .contact-info {
          // border: 2px solid blue;
          height: auto;
          padding-top: .5rem;
        }
      }

      .box-line {
        border-right: 1px solid black;
      }
    }

    .contact-form {
      // border: 2px solid orange;
      height: 500px;
      width: 700px;
      text-align: left;
      margin: auto;

      .forms {
        // border: 2px solid red;
        padding-bottom: 1rem;
        // margin-bottom: .5em;

        .form-top {
          padding: .25rem;
          margin-top: .5rem;
          height: 30px;
          width: 100%
        }
        .form-bottom {
          padding: .25rem;
          
          height: 100px;
          width: 100%
        }

      }
    }
  }
  
  #map-section {
    // border: 2px solid blue;
    // height: 450px;
    // width: 600px;
    // margin: auto;
  
    #map {
      // height: 500px;
      width: 50%;
      margin: auto;
    }
  }
}